* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* propritété flex box */
.flex {

    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {

    justify-content: space-between;
}

/* propritété flex box */
.gap20{
    gap: 20px;
}

.alignCenter {

    align-items:center;
}

.container {

    max-width: 1000px;
    margin: auto;
}

.bold{
 font-weight:700;
}

/* HEADER*/
.logo {
    width: 200px;
}

.menu {
    width: 30%;
}

.top30 {

    margin-top: 30px;
}

.top100 {margin: 100px;}

.width25 {
    width: 25%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.img{
    
}

/*HERO*/
.hero {
    background-image: url("assets/Banner.jpg");
    height: 100vh;
    background-size: cover;
    border-radius: 0px 100px;
}

h1 {
    font-family:sans-serif DM Serif Display;
    font-size:  85px;
}

h2{
    font-family: "Jost", sans-serif;;
font-size: 50px;
width: 100%;
}

p{
font-family: "Jost", sans-serif;
font-size: 12px;
}

/* avis clients*/
.sectionClient{
    background-color:#F4F0EC;
    padding-top: 60px;
    padding-bottom:60px;
}

.paddingTop150{
    padding-top: 150px;
}

.card{
 
    background-color:white;
    padding: 16px;
    border-radius: 16px;
}
/* section projet*/

.cardProjet{


}

.width45{
    width:45%;
}

.cardProjet>img{
    width: 100%;
    margin-bottom: 20px;
}

.marginBottom{

    margin-bottom: 16px;
}

.cardProjet>a{

    display: flex;

    align-items: center;
    justify-content: center;
    background-color: pink;
    width: 70px;
    height:70px;
    border-radius: 100px;
}

.containerCardProjet{

margin-top:50px;
}